.please_logo{
    font-family: 'Lobster', cursive;
}

.please_footer_button{
    font-size:.9rem;
}

.please_footer{
    text-align:center;
    margin-top:2rem;
}

.please_header{
    text-align:center;
    margin:2rem 0;
}
